.headerpage{
  display: flex;
  flex-wrap: wrap;
   
  
}
.hdr{
  background-image:linear-gradient(to left ,#5FAD511A,#FFFFFF33);
 
}
.left {
 width: 44% !important;
 background-image: url(../../../assets/images/mainimg.png)  !important;
  background-repeat: no-repeat;
  background-position: -300px 0;
}
.right{
  margin-right: 135px;
  margin-top: 250px;
  width:40% !important;
}
.asd{
  margin-top: 32px !important;
  margin-bottom: 30px !important;
}



.arrowicon{
  border-radius: 50% !important;
  background: var(--maincolor) !important;
  border-color:var(--maincolor) !important ;
  margin-top: -46px;
  margin-right: 50% !important;
  margin-bottom: 0 !important;
}

.img2{
  
  
  display: block;
  margin-right: 120px !important;
}
.img3{
  display: block;
  margin-right: -40px !important;
}
.img4{
 
  display: block;
  margin-right: 140px !important;
}
.img1{
  
  display: block;
  margin-right: 550px !important;
  margin-top: 90px !important;
}
.img5{
  display: block;
  margin-right: -100px !important;
}
.joinC{
  margin-right: 70%;
  background :#fff;
  opacity: 70%;
  width: 250px !important;
  
  border-radius: 3px !important;
  
  

}
@media  screen and (max-width: 768px){

  .column{
      width:80% !important;
  }
  .left{
     width: 98% !important;
    background-position: -400px 0 !important;


   

  }
  .right{
    margin-right: 10px !important;
    margin-top: 100px !important;
    width:90% !important;
  }
  .img1{
  
   
    margin-right: 300px !important;
    
  }
  .img3{
  
   
    margin-right: -110px !important;
    
  }
  .img4{
  
   
    margin-right: 20px !important;
    
  }
  .img2{
  
   
    margin-right: 20px !important;
    
  }
  .joinC{
    margin-right: 30%;
  }
}