.card {
  box-shadow: 5px 10px 5px 10px #ddd;
}

.card:hover {
  background: var(--maincolor) !important;
  color: #fff;
}

.imicd {
  background: #e9ecef;

  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.imgicon {
  width: 48px;
  height: 45px;
}
