.bgg {
  width: 80px;
  height: 50px;
  background: var(--maincolor);
  border-radius: 0px 8px 0px 0px;
  margin-right: -20px;
}
.Bgg {
  width: 120px;
  height: 110px;
  background: var(--borderC);
  border-radius: 0px 0px 0px 8px;
  margin-right: 72%;
}
.bout {
  width: 50% !important;
}
.booutimg {
  width: 100%;

  margin-block-end: -25%;
  margin-block-start: -8%;
}
.svgg {
  color: #094e81;
}

.imicd {
  background: #e9ecef;

  border-radius: 50%;
  width: 55px;
  height: 55px;
}
