.inputdiv {
  box-shadow: 1px 1px 1px 1px #ddd;
  border-radius: 12px;
  width: 50%;
  margin-right: 23%;
  transform: translateY(50%);
  background: #fff;
}
input {
  border-radius: 25px;
  width: 85%;
  border-color: #ddd;
}
.arrowbtn1 {
  margin-right: -30px !important;
  margin-top: 3px !important;
  width: 22px !important;
  height: 22px !important;
}
.footer {
  background: var(--borderC);
  border-radius: 30px 30px 0px 0px;
}
.foot {
  width: 100%;
  margin-top: 25px;
}
.foot2 {
  display: flex;
  justify-content: center;
  border-top: #fff solid;
  background: var(--borderC);
}
ul li {
  list-style: none;
}
