body {
  margin: 0;
  padding: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

font-family: 'Montserrat', sans-serif;
}

:root{
  --maincolor:#5FAD51;
  --borderR:  35px ;
  --borderC: #094E81;
}
